/* {
    border: 1px solid red;
} */ 

body {
    margin: 0 auto;
    background-color: royalblue;
    width: 700px;
}

.intro {
    padding: 5px 0 5px 0;
    background-image: url("images/propic.jpg");
    background-size: 100% 100%;
    width: 700px;
    background-clip: content-box;
}

.pro {
    text-align: center;
    color: azure;
}

h2.pro {
    color: darkslategrey;
    font-family: Courier New, monospace;
    color: beige;
}

h3 {
    padding: 15px 15px 15px 15px;
    background: rgba(0,0,0,0.1);
    font-family: New Century Schoolbook;
    overflow-y: auto;
    height: 50px;
}

p {
    padding-left: 25px;
    padding-right: 25px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    
}



.question {
    height: 250px;
    margin-bottom: 10px; 
    padding: 5px 0 5px 0;
    background-color: azure;
    box-shadow: 1px 1px 7px white;
}

.answer {
    overflow: auto;
    height: 136px;
    font-family: sans-serif;
}

