/* {
    border: 1px solid red;
} */

body {
    margin: 0 auto;
    background-color: aliceblue;
    width: 600px;
}

.cover {
    background-color: white;
} 

#intro {
    width: 600px;
    border-radius: 10px;
    border: 2px solid #ccffcc;
    background-image: url("images/propic.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pro {
    text-align: center;
    color: azure;
}

h2.pro {
    color: darkslategrey;
    font-family: Courier New, monospace;
    color: beige;
}

h3 {
    padding-left: 10px;
    padding-right: 10px;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    border: 5px solid #80ff80;
}

.question {
    height: 300px;
    width: inherit;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
    
    
}

